{% extends 'base.html' %}
{% load static %}

{% block content %}

 
    <h1>Signup</h1>
    <form class="form" id="form">
      <div class="feild" >
        <label for="first">First Name</label>
        <input type="text" id="first" placeholder="first name">
        <span class="material-icons success"> check_circle</span>
        <span class="material-icons error ">error</span>
        <small>Error message</small>
      </div>

      <div class="feild">
        <label for="last">Last Name</label>
        <input type="text" id="last" placeholder="last name">
        <span class="material-icons success"> check_circle</span>
        <span class="material-icons error ">error</span>
        <small>Error message</small>
      </div>

      <div class="feild">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="abc@gmail.com">
        <span class="material-icons success"> check_circle</span>
        <span class="material-icons error ">error</span>
        <small>Error message</small>
      </div>

      <div class="feild ">
        <label for="password">Password</label>
        <input type="password" id="password">
        <span class="material-icons success"> check_circle</span>
        <span class="material-icons error ">error</span>
        <small>Error message</small>
      </div>

      <div class="feild">
        <label for="cpassword">Confirm Password</label>
        <input type="password" id="cpassword">
        <span class="material-icons success"> check_circle</span>
        <span class="material-icons error ">error</span>
        <small>Error message</small>
      </div>

      <div class="feild" style="display: flex;">

        <input type="checkbox" class="terms" id="tc"" style="width: 1%;">
        <label for="tc" style="color: blue;"> I agree to terms and conditions</label>
        <small>Error message</small>
        
      </div>
      <input type="submit" id="button" width="50%">
  </form>

{% endblock %}