
.form-group {
  border-radius: 10px;
  padding: 5px;
}
#submit{
  font-size: 1.25rem;
    width: 80%;
    display: block;
    padding: .5rem 1rem;
    line-height: 1.5rem;
    box-sizing: border-box;
}
#submit:hover{
  background-color: #295446;
  cursor: pointer;
}
.form-group label{
  padding-top: 4px;
  padding-bottom: 2px;
  display: inline-block;
}

  
.form-group input{
  border-radius: 5px ;
  width: 50%;
}
