{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/signup1.css' %}">
<style>
  .error {
      color: red;
      height: 1%;
  }
</style>
<div class="form-container">
    <h1>Sign Up</h1>
    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.first_name.id_for_label }}">First Name</label>
            {{ form.first_name }}
            {% if form.first_name.errors %}
                <div class="error">{{ form.first_name.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.last_name.id_for_label }}">Last Name</label>
            {{ form.last_name }}
            {% if form.last_name.errors %}
                <div class="error">{{ form.last_name.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Username</label>
            {{ form.username }}
            {% if form.username.errors %}
                <div class="error">{{ form.username.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email</label>
            {{ form.email }}
            {% if form.email.errors %}
                <small class="error">{{ form.email.errors }}</small>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.password1.id_for_label }}">Password</label>
            {{ form.password1 }}
            {% if form.password1.errors %}
                <div class="error">{{ form.password1.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
            {{ form.password2 }}
            {% if form.password2.errors %}
                <div class="error">{{ form.password2.errors }}</div>
            {% endif %}
        </div>
        
        <div class="form-group" style="display: flex;">
            <input type="checkbox" class="terms" id="tc" style="width: 1%;">
            <label for="tc" style="color: blue;"> I agree to terms and conditions</label>
        </div>
        
        <div class="form-group">
            <input type="submit" id="submit" style="background-color: #495E57;">
        </div>
    </form>
</div>
{% endblock %}
